<%- include('includes/header.ejs') %>
<header>
    <a href="/" class="nav-link">
        <img src="https://clevertize.com/assets/images/logo.png" alt="" class="nav__image" />
        <span class="nav__brand">Clevertize</span>
    </a>
</header>
<div class="container">
    <div class="error">
        <h1>Internal Server Error!</h1>
        <p> Sorry, There seems to be something wrong the Server.</p>
        <p>Please try after some time.</p>
    </div>
</div>
<%- include('includes/footer.ejs') %>