<div style="position: relative;">
    <div class="setupLinks">
        <div class="tab-container">
            <ul class="tab-menu">
                <li class="tab-item <% if(item == 'company details') {%>sel<%}%>"><a href="company-details" class="tab-link">Company Details</a></li>
                <li class="tab-item <% if(item == 'account details') {%>sel<%}%>"><a href="account-details" class="tab-link">Account Details</a></li>
            </ul>
        </div>
    </div>
</div>