<div class="modal-wrapper">
    <div class="modal">
        <div class="modal__header">
            <span class="moddal__close">x</span>
            <div class="modal__profile">
                <img src="https://contacts.zoho.com/file?ID=691559610&fs=thumb" alt="" class="modal__img">
                <h2 class="modal__title">Clevertize</h2>
                <p class="modal__text">User Id: <span>691559610</span></p>
                <p class="modal__text"></p>
            </div>
            <div class="modal__action">
                <a href="#" class="modal__btn">my Account</a>
                <a href="#" class="modal__btn">Logout</a>
            </div>
        </div>
        <div class="modal__content">
            <div class="profile">
                <div class="profile__heading"><span>Subscription</span></div>
                <div class="profile__text"><span>Try Other Editions</span></div>
            </div>
            <div class="profile">
                <div class="profile__heading"><span>Need Help?</span></div>
                <div class="profile__text"><span>Try Other Editions</span></div>
            </div>
            <div class="profile">
                <div class="profile__heading"><span>News Room</span></div>
                <div class="profile__text"><span>Try Other Editions</span></div>
            </div>
        </div>
        <div class="modal__footer">
            <p>Mobile</p>
        </div>
    </div>
</div>