<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <meta name="generator" content="BCL easyConverter SDK 5.0.210">
    <style type="text/css">
        *,
        ::before,
        ::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            margin: 53px auto;
            padding: 0px;
            border: #4f81bd 1px solid;
            width: 689px;
        }

        .bb {
            border-bottom: #4f81bd 1px solid;
        }

        .by {
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
        }

        .br {
            border-right: #4f81bd 1px solid;
        }

        #page_1 #id1_1 {
            padding: 0px;
            border: none;
            width: 689px;
            overflow: hidden;
        }

        #page_1 #id1_2 {
            border: none;
            margin: 44px 0px 0px 223px;
            padding: 0px;
            border: none;
            width: 544px;
            overflow: hidden;
        }

        .invoice__title {
            font: bold 18px 'Helvetica';
            line-height: 19px;
            text-align: center;
            margin: 0;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
            padding-right: 4px;
        }

        .my-3 {
            margin: 3px 0;
        }

        .my-auto {
            margin: 3px auto;
        }

        .w-80 {
            width: 80%;
        }

        .ft1 {
            font: bold 13px 'Cambria';
            line-height: 14px;
        }

        .ft2 {
            font: bold 11px 'Cambria';
            line-height: 12px;
        }

        .ft3 {
            font: bold 10px 'Cambria';
            line-height: 12px;
        }

        .ft4 {
            font: 12px 'Cambria';
            line-height: 13px;
        }

        .address {
            width: 250px;
            line-height: 15px;
        }

        .ftb4 {
            font: bold 12px 'Cambria';
            text-decoration: underline;
            line-height: 15px;
        }

        .ft5 {
            font: 1px 'Cambria';
            line-height: 1px;
        }

        .ft6 {
            font: 1px 'Cambria';
            line-height: 8px;
        }

        .ft7 {
            font: 1px 'Cambria';
            line-height: 3px;
        }

        .ft8 {
            font: 1px 'Cambria';
            line-height: 2px;
        }

        .ft9 {
            font: bold 12px 'Cambria';
            line-height: 13px;
        }

        .ft10 {
            font: 1px 'Cambria';
            line-height: 6px;
        }

        .ft11 {
            font: 1px 'Cambria';
            line-height: 9px;
        }

        .ft12 {
            font: bold 12px 'Cambria';
            line-height: 14px;
        }

        .ft13 {
            font: bold 12px 'Cambria';
            line-height: 12px;
        }

        .ft14 {
            font: bold 12px 'Cambria';
            text-decoration: underline;
            line-height: 13px;
        }

        .ft15 {
            font: 12px 'Cambria';
            line-height: 12px;
        }

        .ft16 {
            font: 12px 'Cambria';
            line-height: 14px;
        }

        .ft17 {
            font: 11px 'Cambria';
            line-height: 12px;
        }

        .ft18 {
            font: 13px 'Cambria';
            line-height: 14px;
        }

        .ft19 {
            font: 12px 'Cambria';
            color: #ffffff;
            line-height: 13px;
        }

        .ft20 {
            font: 1px 'Cambria';
            line-height: 7px;
        }

        .ft21 {
            font: 12px 'Calibri';
            line-height: 12px;
        }

        .ft22 {
            font: 12px 'Calibri';
            line-height: 11px;
        }

        .ft23 {
            font: 12px 'Calibri';
            line-height: 14px;
        }

        .ft24 {
            font: bold 14px 'Cambria';
            line-height: 14px;
        }

        .ft25 {
            font: italic 10px 'Cambria';
            line-height: 11px;
        }

        .ft26 {
            font: 13px 'Calibri';
            text-decoration: underline;
            color: #0000ff;
            line-height: 15px;
        }

        .ft27 {
            font: 8px 'Calibri';
            line-height: 10px;
        }

        .p1 {
            text-align: left;
            padding-left: 141px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p2 {
            text-align: left;
            padding-left: 104px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p3 {
            padding-left: 4px;
            white-space: normal;
        }

        .p4 {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p5 {
            text-align: center;
            padding-right: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p6 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p7 {
            text-align: center;
            padding-right: 1px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p8 {
            text-align: center;
            padding-left: 52px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: right;
            padding-right: 105px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: left;
            padding-left: 48px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p11 {
            text-align: right;
            padding-right: 66px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p12 {
            text-align: right;
            padding-right: 108px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p13 {
            text-align: right;
            padding-right: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p14 {
            text-align: left;
            padding-left: 17px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p15 {
            text-align: right;
            padding-right: 36px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p16 {
            text-align: right;
            padding-right: 3px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p17 {
            text-align: right;
            padding-right: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p18 {
            text-align: right;
            padding-right: 4px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p19 {
            text-align: center;
            padding-left: 182px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p20 {
            text-align: center;
            padding-left: 1px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p21 {
            text-align: right;
            padding-right: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p22 {
            text-align: right;
            padding-right: 71px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p23 {
            text-align: right;
            padding-right: 28px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p24 {
            text-align: left;
            padding-left: 3px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p25 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 0px;
            vertical-align: middle;
        }

        .td1 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 377px;
            vertical-align: middle;
        }

        .td2 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 312px;
            vertical-align: middle;
        }

        .td3 {
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 129px;
            vertical-align: middle;
        }

        .td4 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 182px;
            vertical-align: middle;
        }

        .td5 {
            padding: 0px;
            margin: 0px;
            width: 377px;
            vertical-align: middle;
        }

        .td6 {
            padding: 0px;
            margin: 0px;
            width: 182px;
            vertical-align: middle;
        }

        .td7 {
            padding: 0px;
            margin: 0px;
            width: 375px;
            vertical-align: middle;
        }

        .td8 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 2px;
            vertical-align: middle;
        }

        .td9 {
            border-right: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 129px;
            vertical-align: middle;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 2px;
            vertical-align: middle;
        }

        .td11 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 375px;
            vertical-align: middle;
        }

        .td12 {
            padding: 0px;
            margin: 0px;
            width: 326px;
            vertical-align: middle;
        }

        .td13 {
            padding: 0px;
            margin: 0px;
            width: 49px;
            vertical-align: middle;
        }

        .td14 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 1px;
            vertical-align: middle;
        }

        .td15 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 73px;
            vertical-align: middle;
        }

        .td16 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 240px;
            vertical-align: middle;
        }

        .td17 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 326px;
            vertical-align: middle;
        }

        .td18 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 49px;
            vertical-align: middle;
        }

        .td19 {
            border-right: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 130px;
            vertical-align: middle;
        }

        .td20 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 62px;
            vertical-align: middle;
        }

        .td21 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 120px;
            vertical-align: middle;
        }

        .td22 {
            padding: 0px;
            margin: 0px;
            width: 1px;
            vertical-align: middle;
        }

        .td23 {
            padding: 0px;
            margin: 0px;
            width: 73px;
            vertical-align: middle;
        }

        .td24 {
            padding: 0px;
            margin: 0px;
            width: 58px;
            vertical-align: middle;
        }

        .td25 {
            padding: 0px;
            margin: 0px;
            width: 62px;
            vertical-align: middle;
        }

        .td26 {
            padding: 0px;
            margin: 0px;
            width: 120px;
            vertical-align: middle;
        }

        .td27 {
            padding: 0px;
            margin: 0px;
            width: 240px;
            vertical-align: middle;
        }

        .td28 {
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 58px;
            vertical-align: middle;
        }

        .td29 {
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 72px;
            vertical-align: middle;
        }

        .td30 {
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 57px;
            vertical-align: middle;
        }

        .td31 {
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 61px;
            vertical-align: middle;
        }

        .td32 {
            border-right: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 72px;
            vertical-align: middle;
        }

        .td33 {
            border-right: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 57px;
            vertical-align: middle;
        }

        .td34 {
            border-right: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 61px;
            vertical-align: middle;
        }

        .td35 {
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 122px;
            vertical-align: middle;
        }

        .td36 {
            padding: 0px;
            margin: 0px;
            width: 50px;
            vertical-align: middle;
        }

        .td37 {
            border-right: #17375d 1px solid;
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 325px;
            vertical-align: middle;
        }

        .td38 {
            border-left: #17375d 1px solid;
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 48px;
            vertical-align: middle;
        }

        .td39 {
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 1px;
            vertical-align: middle;
        }

        .td40 {
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 73px;
            vertical-align: middle;
        }

        .td41 {
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 58px;
            vertical-align: middle;
        }

        .td42 {
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 62px;
            vertical-align: middle;
        }

        .td43 {
            border-top: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 120px;
            vertical-align: middle;
        }

        .td44 {
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 325px;
            vertical-align: middle;
        }

        .td45 {
            border-left: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 48px;
            vertical-align: middle;
        }

        .td46 {
            border-left: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 48px;
            vertical-align: middle;
        }

        .td47 {
            border-left: #4f81bd 1px solid;
            border-right: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 121px;
            vertical-align: middle;
        }

        .td48 {
            border-left: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 362px;
            vertical-align: middle;
        }

        .td49 {
            border-right: #4f81bd 1px solid;
            border-bottom: #4f81bd 1px solid;
            padding: 0px;
            margin: 0px;
            width: 325px;
            vertical-align: middle;
        }

        .tr0 {
            height: 15px;
        }

        .tr1 {
            height: 16px;
        }

        .tr2 {
            height: 17px;
        }

        .tr3 {
            height: 13px;
        }

        .tr4 {
            height: 19px;
        }

        .tr5 {
            height: 6px;
        }

        .tr6 {
            height: 14px;
        }

        .tr7 {
            height: 8px;
        }

        .tr8 {
            height: 2px;
        }

        .tr9 {
            height: 3px;
        }

        .tr10 {
            height: 9px;
        }

        .tr11 {
            height: 27px;
        }

        .tr12 {
            height: 31px;
        }

        .tr13 {
            height: 18px;
        }

        .tr14 {
            height: 22px;
        }

        .tr15 {
            height: 30px;
        }

        .tr16 {
            height: 20px;
        }

        .tr17 {
            height: 7px;
        }

        .tr18 {
            height: 23px;
        }

        .tr19 {
            height: 28px;
        }

        .tr20 {
            height: 24px;
        }

        .tr21 {
            height: 21px;
        }

        .t0 {
            width: 689px;
            font: bold 11px 'Cambria';
        }

        .t1 {
            width: 689px;
            margin-top: 1px;
            font: 12px 'Cambria';
        }
    </style>
</head>

<body>
    <div id="page_1">
        <img src="/images/logo.png">
        <div id="id1_1">
            <p class="invoice__title bb">TAX INVOICE</p>
            <table cellpadding="0" cellspacing="0" class="t0">
                <tbody>
                    <tr>
                        <td colspan="2" class="tr0 bb br">
                            <p class="ft1 text-center my-3">SELLER DETAILS</p>
                        </td>
                        <td colspan="2" class="tr0 bb">
                            <p class="ft1 text-center my-3">INVOICE DETAILS</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tr1 bb br">
                            <p class="p3 ft1">Clevertize Private Limited</p>
                        </td>
                        <td class="tr2 bb br">
                            <p class="ft2 text-center">INVOICE NO.</p>
                        </td>
                        <td class="tr1 bb">
                            <p class="ft3 text-center">
                                <nobr>2020-21/1100</nobr>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tr3 br">
                            <p class="p3 ft4">59, 9th Main Road, Stage 2, Eshwara Layout,</p>
                        </td>
                        <td class="tr4 bb br">
                            <p class="ft2 text-center">PO NO. Ref</p>
                        </td>
                        <td class="tr4 bb">
                            <p class="ft3 text-center">8000043646</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tr3 br">
                            <p class="p3 ft4">Indiranagar, Bengaluru, Karnataka – 560038, India</p>
                        </td>
                        <td class="tr4 bb br">
                            <p class="ft2 text-center">ISSUE DATE</p>
                        </td>
                        <td class="tr4 bb">
                            <p class="ft2 text-center">
                                <nobr>20-August-2020</nobr>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tr1 bb br">
                            <p class="p3 ft9">CIN: U72900KA2018PTC111706</p>
                        </td>
                        <td class="tr4 bb br">
                            <p class="ft2 text-center">TERMS - Net days</p>
                        </td>
                        <td class="tr4 bb">
                            <p class="ft2 text-center">30</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tr1 bb br">
                            <p class="p3 ft9">GSTIN : 29AAHCC4914D1ZS</p>
                        </td>
                        <td class="tr4 bb br">
                            <p class="ft2 text-center">DUE DATE</p>
                        </td>
                        <td class="tr4 bb">
                            <p class="ft2 text-center">
                                <nobr>19-September-2020</nobr>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" class="t1">
                <tbody>
                    <tr>
                        <td colspan="3" class="tr1 br">
                            <p class="ft12 text-center">BUYER DETAILS</p>
                        </td>
                        <td colspan="4" class="tr0 bb">
                            <p class="ft1 text-center">PLACE OF SUPPLY</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tr1 bb br">
                            <p class="ft2 text-center">BILL TO</p>
                        </td>
                        <td colspan="2" class="tr1 bb br">
                            <p class="p10 ft9">STATE</p>
                        </td>
                        <td colspan="2" class="tr1 bb">
                            <p class="p11 ft4">Karnataka</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tr0 bb br">
                            <p class="p3 ft1 my-3">Metro Cash &amp; Carry India Pvt. Ltd</p>
                            <p class="p3 ft4 address">Survey No. 26/3, 'A' Block, Ward No 9, Industrial Suburbs,
                                Subramanya nagar, Karnataka India</p>
                            <p class="p3 ft9 my-3"><span>GSTIN : </span>29AACCM4684P2ZM</p>
                        </td>
                        <td colspan="4" class="tr0 bb">
                            <p class="ft4 text-center">Bangalore - 560055</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tr11 bb br">
                            <p class="ft2 text-center">ITEM &amp; DESCRIPTION</p>
                        </td>
                        <td class="tr11 bb br">
                            <p class="ft9 text-center">HSN/SAC</p>
                        </td>
                        <td class="tr11 bb br">
                            <p class="ft13 text-center">QTY</p>
                        </td>
                        <td class="tr11 bb br">
                            <p class="ft2 text-center">RATE</p>
                        </td>
                        <td class="tr11 bb">
                            <p class="ft13 text-center">AMOUNT</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tr3 br">
                            <p class="p3 ftb4">Media Spends</p>
                        </td>
                        <td class="tr3 br">
                            <p class="ft5">&nbsp;</p>
                        </td>
                        <td class="tr3 br">
                            <p class="ft5">&nbsp;</p>
                        </td>
                        <td class="tr3 br">
                            <p class="ft5">&nbsp;</p>
                        </td>
                        <td class="tr3">
                            <p class="ft5">&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tr2 br">
                            <p class="p3 ft4">Digital Campaign for SCO Pro June2020</p>
                        </td>
                        <td class="tr8 br">
                            <p class="ft4 text-center">998361</p>
                        </td>
                        <td class="tr8 br">
                            <p class="ft4 text-center">1</p>
                        </td>
                        <td class="tr8 br">
                            <p class="ft4 text-center">1,105.29</p>
                        </td>
                        <td class="tr2">
                            <p class="ft4 text-center">1,105.29</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tr2 bb br">
                            <p class="p3 ft4">Agency Commission</p>
                        </td>
                        <td class="tr2 bb br">
                            <p class="ft4 text-center">&nbsp;</p>
                        </td>
                        <td class="tr2 bb br">
                            <p class="ft4 text-center">&nbsp;</p>
                        </td>
                        <td class="tr2 bb br">
                            <p class="ft4 text-center">5%</p>
                        </td>
                        <td class="tr2 bb br">
                            <p class="ft4 text-center">55.26</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="tr1 bb br">
                            <p class="ft2 text-right">SUB TOTAL</p>
                        </td>
                        <td class="tr1 bb">
                            <p class="ft4 text-center">1,160.55</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="tr1 bb br">
                            <p class="ft2 text-center">TAX DETAILS</p>
                        </td>
                        <td class="tr1 bb br">
                            <p class="ft2 text-center">RATE</p>
                        </td>
                        <td class="tr1 bb">
                            <p class="ft2 text-center">AMOUNT</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="tr4 br">
                            <p class="ft4 text-center">CGST</p>
                        </td>
                        <td class="tr4 br">
                            <p class="ft4 text-center">9%</p>
                        </td>
                        <td class="tr4">
                            <p class="ft4 text-center">104.45</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="tr4 br">
                            <p class="ft4 text-center">SGST</p>
                        </td>
                        <td class="tr4 br">
                            <p class="ft4 text-center">9%</p>
                        </td>
                        <td class="tr4">
                            <p class="ft4 text-center">104.45</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="tr4 br">
                            <p class="ft4 text-center">IGST</p>
                        </td>
                        <td class="tr4 br">
                            <p class="ft4 text-center">18%</p>
                        </td>
                        <td class="tr4">
                            <p class="ft4 text-center">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="tr1 by br">
                            <p class="ft2 text-right">SUB TOTAL</p>
                        </td>
                        <td class="tr1 by">
                            <p class="ft4 text-center">208.90</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="tr14 bb br">
                            <p class="p3 ft1">Total Amount Payable</p>
                        </td>
                        <td class="tr14 bb">
                            <p class="ft1 text-center">1,370.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="tr4 br">
                            <p class="p3 ftb4">Remarks / Instructions:</p>
                            <p class="p3 ft4">Balance due amount should be paid on or before due
                                date.</p>
                        </td>
                        <td colspan="6" class="tr4 bb">
                            <p class="p6 ft5">&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="tr11 br">
                            <p class="p3 ftb4">BANK DETAILS</p>
                        </td>
                        <td colspan="3" class="tr4 bb br">
                            <p class="ft2 text-center my-3">TOTAL AMOUNT IN WORDS</p>
                        </td>
                        <td colspan="3" class="tr4 bb">
                            <p class="ft4 text-center my-3">One Thousand Three Hundred Seventy Rupees And Zero
                                Paisa
                                Only
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="tr4 bb br">
                            <p class="p3 ft4">Bank: ICICI BANK</p>
                            <p class="p3 ft4">Account Name: CLEVERTIZE PRIVATE LIMITED</p>
                            <p class="p3 ft4">Account Type: CURRENT ACCOUNT</p>
                            <p class="p3 ft4">Account Number: 017005007379</p>
                            <p class="p3 ft4 my-3">IFSC: ICIC0000170</p>
                        </td>
                        <td colspan="6" class="tr4 bb">
                            <p class="ft9 text-center">This is computer generated invoice no signature required</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="tr4 bb">
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="tr6">
                            <p class="p3 ft24">THANK YOU FOR YOUR BUSINESS!</p>
                            <p class="p3 ft25">For questions concerning this invoice, please contact</p>
                            <p class="p3 ft26">monetize@clevertize.com</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>